<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/ionic.css" />
		<link rel="stylesheet" type="text/css" href="css/ion-alpha-scroll.css" />
		<script src="js/ionic.bundle.js"></script>
		<script src="js/index.js"></script>
		<script src="js/chinesefilter.js"></script>
	</head>

	<body ng-app="ionicApp" ng-controller="SelectCityCtrl">
		<ion-content delegate-handle="selectCityHandle">
			<div data-ng-repeat="(letter, items) in contacts" class="ion_alpha_list">
				<ion-item class="item item-divider" id="{{letter}}">{{letter}}</ion-item>
				<ion-item class="item" ng-repeat="item in items" ng-click="selectCity(item.city)">
					{{item.city}}
				</ion-item>
			</div>
		</ion-content>
		<ul class="ion_alpha_sidebar">
			<li ng-click="alphaScroll('{{letter}}')" ng-repeat="letter in alphabet">{{letter}}</li>
		</ul>
	</body>

</html>