.contentgray{
	background: #F5F5F5;
}
/*ion-slide-box */
.slider {
	height: 100%;
}
.box {
	height: 100%;
	text-align: center;
}
.blue {
	background: blue;
}
.yellow {
	background: yellow;
}
.pink {
	background: pink;
}
/*ion-slide-box */
/*form*/
.itemcenter{
	text-align: center;
	font-size: 12px;
	color: #8F8F8F;
}
#loginlist .item{
	border:none;
	background: transparent;
}
#loginlist input{
	border: solid 1px #8F8F8F;
	border-radius: 2px;
	padding: 0 10px;
	min-height: 40px;
	line-height: 40px;
	background: #FFFFFF;
}
.codebtn{
	line-height: 40px;
	min-height: 40px;
	margin-left: 20px;
	width: 116px;
	text-align: center;
	background: #33cd5f;
}
.inputfull{
	width: 100%;
}
#loginlist .button-full{
	border-left: #28a54c solid 1px;
	border-right: #28a54c solid 1px;
}
.item-input{
	padding: 6px 0;
}
.loginli{
	line-height: 10px;
	border: none;
	background: transparent;
}
.graybg{
	background: #E5E5E5;
}
.regista{
	color: #11C1F3;
	text-decoration: underline;
}
/*form*/
/*home*/
.col-box{
	width: 100%;
	display: block;
	color: #FFFFFF;
	text-align: center;
}
.interval{
	margin: 5px 0;
}
.clo-box-span{
	display: block;
}
.bgcity{
	background: #83B1FB;
	height: 45px;
}
.bgweather{
	background: #ECD37C;
	height: 100px;
	padding:20px ;
}
.bgstar{
	background: #7572EA;
	height: 200px;
}
.bglist{
	background: #B361EF;
	height: 150px;
}
/*home*/
